[Unit]
Description=checkd
After=network-online.target
Wants=network-online.target
StartLimitBurst=3
StartLimitIntervalSec=60

[Service]
User=root
Group=root
RestartSec=5
Restart=on-failure
WorkingDirectory=/opt/checkd
ExecStart=/opt/checkd/checkd.mjs
EnvironmentFile=/opt/checkd/.env

[Install]
WantedBy=multi-user.target
